/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styling */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f9fb;
  /* Colore di sfondo chiaro */
  color: #333;
  /* Testo scuro per una buona leggibilità */
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Header Styling */
header {
  background-color: #00aaff;
  padding: 20px 0;
  text-align: center;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Aggiunta di una leggera ombra */
}

header h1 {
  color: white;
  font-size: 36px;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

/* Container for converter inputs */
.converter-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
  width: 100%;
}

/* Styling per ogni blocco del convertitore */
.converter {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  text-align: center;
  width: 250px;
  /* Impostato per dare spazio sufficiente ai contenuti */
}

.converter input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  width: 100%;
  font-size: 16px;
}

.converter button {
  padding: 10px;
  border: none;
  background-color: #00aaff;
  color: white;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.converter button:hover {
  background-color: #0077cc;
  /* Hover effect */
}

/* Styling per i risultati di conversione */
.converter-container div[data-em-kwh],
.converter-container div[data-em-km],
.converter-container div[data-em-kg] {
  font-size: 18px;
  color: #333;
  margin-top: 10px;
}

/* Totale container */
.totale-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  width: 100%;
}

.totale-container button {
  padding: 15px 30px;
  border: none;
  background-color: #28a745;
  color: white;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.totale-container button:hover {
  background-color: #218838;
  /* Hover effect */
}

.totale-container div[data-totale] {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}